.text{
    text-align: center;
    color: red;
    text-decoration: underline;
    border: 2px solid green;
    margin-top: 5px;
    padding: 2px;
    background-color: rgb(174, 250, 250);
}
.f-text{
    text-align: center;
    color: white;
    margin: 5px;
    padding: 5px;
}
body{
    background-color:black;
}